@import "codemirror/lib/codemirror.css";
@import "codemirror/addon/hint/show-hint.css";
@import "codemirror/addon/lint/lint.css";
@import "sass/theme_import.scss";
@import "codemirror/addon/scroll/simplescrollbars.css";
.editor {
  float: left;
  width: 46%;
  margin: 0;
  padding: 2%;
  height: 100%;
  background-color: gainsboro;
  border:gainsboro;
  border-radius: 10px;


  .line-error {
    background: #FBC2C4 !important;
    color: #8a1f11 !important;
  }
  .error-marker {
    color: black;
    width: 10px !important;
    background-color: #ff0000;
  }
  
  .error-marker{
    .error-message {
      display: none;
      position: absolute;
      background-color: #ddd;
      border: 1px solid #999;
      padding: 6px;
      width: 140px;
      left: 15px;
      top: -1em;
    }
  }
  
  .error-marker:hover{
    .error-message {
      display: block;
    }
  }
}
.save_load{
  width:100%;
  height: 100%;
  float:left;
}
#ls{
  width:350px;
  float:left;
}
#ls_btns{
  width: 20px;
  float:left;
}
#l_theme,#l_save{
  width:150px;
  float: left;
}
.theme-dropdown{
  width:100%;
  float:left;
}
.code{
  width:100%;
  height: 100%;
  float:left;
}
.user-code {
  float:left;
  width: 100%;
  resize: none;
  overflow: scroll;
  font-family: monospace;
}
.interactions {
  float: left;
  width: 46%;
  //margin-left: 1em;
  padding: 2%;
  height: 600px;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
  background-color: lightblue;
  border:lightblue;
  border-radius: 10px;
  
    .arrow {
      border: solid black;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(-45deg);
    }
    .accordion {
      background-color:white;
      color:darkcyan;
      cursor: pointer;
      padding: 10px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      // font-size: 15px;
      transition: 0.4s;
      font-family: monospace;
    }

    .active, .accordion:hover {
      background-color: #ccc; 
      color:rebeccapurple;
    }

    .panel {
      padding: 0 18px;
      display: none;
      background-color: white;
      overflow: hidden;
      font-family: monospace;
      
      .tag{
        color:rebeccapurple;
      }
      .val{
        display: inline;
        color:darkcyan;
      }
    }
}

.repl-code {
  height: 2em;
  width: 90%;
  text-align: left;
  font-family: monospace;
}
.prompt {
  height: 2em;
  width:5%;
  vertical-align: middle;
  text-align: center;
}
.output pre {
  max-width: 100%;
  white-space: break-spaces;
  line-break: anywhere;
}

#clear {
  float: left;
  display: block;
}
.clearfix{
  clear: both;
}

 
.btn{
  background-color: #008CBA;
  color:white;
  border-radius: 10%;
  border-color:#008CBA;
  border-width: 1px;
  font-size: 16px;
  font-family: monospace;
  transition-duration: 1s;
}
.btn:hover {
  background-color:white; 
  color: #008CBA;
  border-color:#008CBA;
}

/* override the CodeMirror default setting*/

.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: monospace;
  height: 400px;
  padding:5px;
  margin:10px;
  border-radius: 2%;
}

.interactions::-webkit-scrollbar {
  width: 15px;               /* width of the entire scrollbar */
  height: 100%;
  background-color:  lightblue;
}
.interactions::-webkit-scrollbar-thumb {
  background-color:gray;
}
.CodeMirror-simplescroll-vertical {
  width: 15px;
}
/*
@media only screen and (max-width: 840px) {
  .interactions{
    width: 100%;
    height: 100%;
  }
  .editor{
    width: 100%;
  }
}*/
@media only screen and (min-height: 900px){
  .CodeMirror {
    height: 800px;
  }
}
