@import "codemirror/lib/codemirror.css";
@import "codemirror/theme/neo.css";
@import "codemirror/addon/hint/show-hint.css";

.editor {
  float: left;
  width: 49%;
  margin: 0;
  padding: 0;
  height: 100%;
}
.user-code {
  width: 100%;
  height: 80em;
  resize: none;
  overflow: scroll;
  font-family: monospace;
}
.interactions {
  float: right;
  width: 49%;
  margin-left: 1em;
  padding: 0;
  height: 100%;
}
.repl-code {
  height: 2em;
  width: 30em;
  text-align: left;
  font-family: monospace;
}
.prompt {
  vertical-align: middle;
}
.output pre {
  max-width: 100%;
  white-space: break-spaces;
  line-break: anywhere;
}
